<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- <link rel="stylesheet" href="./static/stylebot.css"> -->
    <link rel="stylesheet" href="./static/open.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;600&display=swap">
   <style>
       
        body {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand food-munch-logo" style="display: flex;flex-direction: row; align-items: center; justify-content: center;" href="#">
            <p><img src="./static/logo.jpg" width="46" height="33"></p>
            <p style="font-size: 34px; font-family: 'MuseoModerno', sans-serif;margin-left: 1vw; "> Diabetic Retinopathy Check</p>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div id="navtools" class="navbar-nav ml-auto">
                <a class="nav-link" id="navitem2" href="#exp">About Models <i class="fa fa-search" style="font-size:20px"></i> &nbsp&nbsp </a>
                <a class="nav-link" id="navitem3" href="/sign">Sign up <i class='fas fa-user-alt' style='font-size:20px'></i> &nbsp&nbsp</a>
                <a class="nav-link" id="navitem4" href="/login">Login <i class="fa fa-sign-in" style="font-size:20px"></i></a>
                <a class="nav-link" id="navitem4" href="/visualization">Visualization <i class="fa fa-sign-in" style="font-size:20px"></i></a>
            </div>
        </div>
    </div>
</nav>

<div class="banner-section-bg-container d-flex flex-column justify-content-center">  
</div>


<h1 style="margin-left: 4vw;margin-top: 3vh;">About Model :</h1>

<div id="exp" class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/eye.jpg" class="healthy-food-section-img" style="height: 38vh; width: 30vw; border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);" />
                </div>
            </div>
            
            <div class="des1 col-12 col-md-6" style="width: 100vw;" >
                <h1 class="healthy-food-section-heading">
                    What is Diabetic Retinopathy(DR)? </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    Diabetic retinopathy (DR) is a complication of diabetes that damages the light-sensitive retina in your eye. High blood sugar weakens tiny blood vessels in the retina, causing them to leak fluid or bleed. In some cases, abnormal new blood vessels grow, further threatening your vision. Early DR often has no symptoms, but regular eye exams can detect it before vision loss occurs.     
                </p>
            </div>
            
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="des1 col-12 col-md-8">
            <h1 class="healthy-food-section-heading text-center">
                Various Stages in Diabetic Retinopathy
            </h1>
            <p><b>1. No Diabetic Retinopathy:</b></p>
            <p>* In this early stage, there are no visible signs of retinopathy in the eye. The retinal blood vessels appear normal, and there are no abnormalities detected during an eye examination.</p>

            <p><b>2. Mild Diabetic Retinopathy :</b></p>
            <p>* This stage is characterized by the development of microaneurysms, small bulges in the retinal blood vessels caused by weakened vessel walls. There may also be tiny areas of retinal swelling or leakage, known as retinal hemorrhages or exudates.</p>

            <p><b>3. Moderate Diabetic Retinopathy :</b></p>
            <p>* In this stage, the number of microaneurysms and other abnormalities increases. Cotton wool spots (fluffy white lesions) may appear, indicating areas of poor retinal circulation. Venous beading (irregular constrictions of the retinal veins) may also be present.</p>

            <p><b>4. Severe Diabetic Retinopathy (NPDR):</b></p>
            <p>* This stage is characterized by a significant number of retinal hemorrhages, microaneurysms, and other abnormalities. There may be areas of retinal ischemia (lack of blood supply) due to the closure of many retinal blood vessels. Vision may be affected, but there is no growth of new abnormal blood vessels yet.</p>

            <p><b>5. Proliferative Diabetic Retinopathy (NPDR):</b></p>
            <p>* This is the most advanced stage of diabetic retinopathy. In response to the lack of oxygen supply, new abnormal blood vessels (neovascularization) begin to grow from the retina or optic nerve. These fragile new vessels can bleed into the vitreous humor, causing vision loss or blindness. Scar tissue may also develop, leading to retinal detachment or the formation of glaucoma.</p>
        </div>
    </div>
</div>


<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/Resnet.jpeg" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 30vw; height: 38vh;"  class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-6">
                <h1 class="healthy-food-section-heading">
                     ResNet50 Model     </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    The architecture of ResNet50 is divided into four main parts: the convolutional layers, the identity block, the convolutional block, and the fully connected layers. The convolutional layers are responsible for extracting features from the input image, while the identity block and convolutional block are responsible for processing and transforming these features. Finally, the fully connected layers are used to make the final classification.

The convolutional layers in ResNet50 consist of several convolutional layers followed by batch normalization and ReLU activation. </p>
                
            </div>
            
        </div>
    </div>
</div>

<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            
            <div class="des1 col-12 col-md-6">
                <h1 class="healthy-food-section-heading">
                    VGG 16 Model
                </h1>
                <P>It is a typical deep Convolutional Neural Network (CNN) design with numerous layers, and the abbreviation VGG stands for Visual Geometry Group. The term “deep” describes the number of layers, with VGG-16 or VGG-19 having 16 or 19 convolutional layers, respectively.

                    Innovative object identification models are built using the VGG architecture. The VGGNet, created as a deep neural network, outperforms benchmarks on a variety of tasks and datasets outside of ImageNet.The deep neural network’s 16 layers are indicated by the number 16 in their name, which is VGG (VGGNet). This indicates that the VGG16 network is quite large, with a total of over 138 million parameters.</P>


                    <!-- <ul style="font-size: 18px; text-align: justify;">
                        <li>Painless & Quick: Our process is comfortable and takes minimal time.</li>
                        <li>Accurate Results: Deep learning technology ensures reliable detection of eye issues.</li>
                        <li>Convenient Scheduling: Schedule your screening easily online or by phone.</li>
                      </ul>    -->
               
            </div>
            
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/VVGG.png" style="border-radius: 30px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 42vw; height: 38vh;"  class="healthy-food-section-img" />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <img src="./static/VGG19.png" style="border-radius: 20px; border: transparent;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); width: 34vw; height: 46qqq                                                                                                                    qqqqqqqqqqqqqqqvh;"  class="healthy-food-section-img" />
                </div>
            </div>
            <div class="des1 col-12 col-md-6">
                <h1 class="healthy-food-section-heading">
                     VGG19 Model     </h1>
                <p class="healthy-food-section-description" style="text-align: justify;">
                    VGG19 is a convolutional neural network architecture renowned for its depth and uniform structure. With 19 layers, it consists primarily of 3x3 convolutional layers, interspersed with max-pooling layers for downsampling. This architecture's simplicity facilitates ease of understanding and implementation. Moreover, pre-trained VGG19 models on datasets like ImageNet are widely available, making it a popular choice for various computer vision tasks, including image classification and feature extraction. However, its heavy computational requirements pose challenges for deployment on resource-constrained devices. </p>
                
            </div>
            
        </div>
    </div>
</div>

<h1 style="margin-left: 4vw; margin-top: 3vh;">Visualization :</h1>

<div id="exp1" class="healthy-food-section pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-start mt-5">
            <div class="col-md-4">
                <div class="text-center mb-3">
                    <img src="./static/resnetvisualization.jpeg" class="healthy-food-section-img" style="height: 40vh; width: 28vw; border-radius: 20px; border: transparent; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); margin-bottom: 20px;" />
                    <p class="mt-2">ResNet Visualization</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center mb-3">
                    <img src="./static/vgg16visualization.jpeg" class="healthy-food-section-img" style="height: 40vh; width: 28vw; border-radius: 20px; border: transparent; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); margin-bottom: 20px;" />
                    <p class="mt-2">VGG16 Visualization</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img src="./static/vgg19visualization.jpeg" class="healthy-food-section-img" style="height: 40vh; width: 28vw; border-radius: 20px; border: transparent; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); margin-bottom: 20px;" />
                    <p class="mt-2">VGG19 Visualization</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fu" class="follow-us pt-5 pb-5">
    <div class="container">
        <div class="row">
            <!-- <div class="col-12">
                <h1 class="follow-us-section"><u>Follow Us</u></h1>
            </div> -->
            <div class="col-12">
                <!-- <div class="d-flex flex-row justify-content-center">
                    <div class="follow-us-icon-container">
                        <i class="fab fa-twitter icont"></i>
                    </div>
                    <div class="follow-us-icon-container">
                        <i class="fab fa-instagram iconi"></i>
                    </div>
                    <div class="follow-us-icon-container">
                        <i class="fab fa-facebook iconf"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="footer-section pt-5 pb-5">
    <div class="container">
        <div class="row foot">
            
            <!-- <div class="des1 col-12 col-md-3">
                <h2 style="color:white">Solutions</h2>
                <h5>Overview</h5>
                <h5>Smart Phone App</h5>
                <h5>Data Dashboard</h5>
                <h5>Enforcement Portal</h5>
                
            </div>
            
            <div class="des1 col-12 col-md-6">
                <p style="font-size: 42px; font-family: 'MuseoModerno', sans-serif;"> DiabeticVision Check

                </p>
            </div>--> 
            
            <div class=" des1 col-12 col-md-6">
                <div class="des1 col-12 col-md-6">
                    <h2 style="color:white">Explore</h2>
                    
                    <h5>Base Paper Link:</h5>
                    <h5><a href="./static/early-diabetic-retinopathy-detection(3).pdf">View Base Paper</a></h5>
                    <h5>Contact Info: 9908244250</h5>
                    <h5></h5> 
                </div>
                
        </div>
    </div>
</div>









<script type="text/javascript" src="./static/app.js"></script>

