<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <style>
        body {
            scroll-behavior: smooth;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <img src="./static/resnetvisualization.jpeg" class="img-fluid" alt="Image 1">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <img src="./static/vgg16visualization.jpeg" class="img-fluid" alt="Image 2">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <img src="./static/vgg19visualization.jpeg" class="img-fluid" alt="Image 3">
        </div>
    </div>
</div>

</body>
</html>
